<div class="widgets" style="width: 1400px">
    <ba-card title="My Task" baCardClass="with-scroll">
        <p-dataTable #dt [value]="myTasks" [lazy]="true" (onLazyLoad)="refresh($event, table)" [rows]="2" [paginator]="true" [totalRecords]="totalRecords" sortField="woNumber" sortOrder="-1">
            <p-header>
                <div class="ui-helper-clearfix">
                    <div class="btn-group" dropdown style="float: left">
                        <button id="addNewWorkOrder" type="button" class="btn btn-primary" dropdownToggle>
                            Add New Work Order <span class="caret"></span>
                        </button>
                        <ul dropdownMenu role="menu" aria-labelledby="addNewWorkOrder">
                            <li role="menuitem"><a class="dropdown-item">Preventive Maintenance</a></li>
                            <li role="menuitem"><a class="dropdown-item">Recurring Request</a></li>
                            <li role="menuitem"><a class="dropdown-item">Single Request</a></li>
                            <li role="menuitem"><a class="dropdown-item">Tenant Request</a></li>
                            <li role="menuitem"><a class="dropdown-item">Guest Request</a></li>
                            <li role="menuitem"><a class="dropdown-item">Owner Request</a></li>
                        </ul>
                    </div>
                </div>
            </p-header>
            <p-column styleClass="col-button">
                    <template pTemplate="header">
                        Action
                    </template>
                    <template let-mytask="rowData" pTemplate="body">
                            <div class="btn-group" dropdown>
                              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                                Action <span class="caret"></span>
                              </button>
                              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                                <li role="menuitem" *ngFor="let action of mytask.actions">
                                    <a  class="dropdown-item" (click)="doAction(mytask, action)">{{action.label}}</a>
                                </li>
                              </ul>
                            </div>
                    </template>
            </p-column>
            <p-column field="woNumber" header="WO #" [sortable]="true" [filter]="true"></p-column>
            <p-column field="taskName" header="Task" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="locationName" header="Location" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="dateUpdated" header="Last Updated" [sortable]="true"></p-column>
            <p-column field="age" header="Age" [sortable]="true"></p-column>
            <p-column field="issueDate" header="Issued" [sortable]="true"></p-column>
            <p-column field="startDate" header="Start" [sortable]="true"></p-column>
            <p-column field="dueDate" header="Due" [sortable]="true"></p-column>
            <p-column field="currentStatusName" header="Status" [sortable]="true" [filter]="true"></p-column>
            <p-column field="woCategoryName" header="Category" [sortable]="true" [filter]="true"></p-column>
            <p-column field="woPriorityName" header="Priority" [sortable]="true" [filter]="true"></p-column>
            <p-column field="currentAssigneeName" header="Assignee" [sortable]="true" [filter]="true"></p-column>
        </p-dataTable>
    </ba-card>
</div>
<!--
<div class="widgets">
    <ba-card title="Upcoming Task" baCardClass="with-scroll">
        <p-dataTable #dt [value]="users">
          <p-header>
            <div class="ui-helper-clearfix">
                <button (click)="addUsers()" class="btn btn-primary" style="float:right">Add Task</button>
            </div>
        </p-header>
           <p-column field="userId" header="User ID"></p-column>
            <p-column field="username" header="Name"></p-column>
            <p-column field="fullname" header="Description"></p-column>
       		<p-column styleClass="col-button">
                    <template pTemplate="header">
                        Action
                    </template>
                    <template let-users="rowData" pTemplate="body">
                            <div class="btn-group" dropdown>
                              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                                Action <span class="caret"></span>
                              </button>
                              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a  class="dropdown-item" (click)="editUsers(users)">Edit</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="deleteUsers(users)">Delete</a></li>
                                 <li role="menuitem"><a class="dropdown-item" (click)="roles(users)">Roles</a></li> 
                              </ul>
                            </div>
                    </template>
            </p-column>
        </p-dataTable>
    </ba-card>
</div>-->
