<div class="row">
    <div class="col-md-6">
		<div class="all-list__card">
		<a routerLink="/pages/entities">
			<h3>Vendor</h3>
			<p>Some random text for now</p>
        </a>
		</div>	
    </div>
    <div class="col-md-6">
		<div class="all-list__card">
		<a routerLink="/pages/entities">
			<h3>Owners</h3>
			<p>Another Random Text</p>
        </a>
		</div>
    </div>
    <div class="col-md-6">
		<div class="all-list__card">
		<a routerLink="/pages/entities">
			<h3>Tenants</h3>
			<p>Some Description for this part</p>
        </a>
		</div>
    </div>
    <div class="col-md-6">
		<div class="all-list__card">
		<a routerLink="/pages/entities">
			<h3>Guests</h3>
			<p>Another Description random text</p>
        </a>
		</div>
    </div>
    <div class="col-md-6">
		<div class="all-list__card">
		<a routerLink="/pages/priorities">
			<h3>Priorities</h3>
			<p>Another Description random text</p>
        </a>
		</div>
    </div>
    <div class="col-md-6">
		<div class="all-list__card">
		<a routerLink="/pages/expense-type">
			<h3>Expense Types</h3>
			<p>Another Description random text</p>
        </a>

		</div>
    </div>
    <div class="col-md-6">
		<div class="all-list__card">
		<a routerLink="/pages/utility-types">
			<h3>Utility Types</h3>
			<p>Another Description random text</p>
        </a>
		</div>
    </div>
    <div class="col-md-6">
		<div class="all-list__card">
		<a routerLink="/pages/utility-uom">
			<h3>Utility UOMs</h3>
			<p>Another Description random text</p>
        </a>
		</div>
    </div>
</div>