<button title="Reset" id="resetFilters" type="button" class="btn-sets-right-filter">
            <!-- <img class="reset-filter" src="./assets/img/clear-filter.svg" /> -->
            <!-- <span>&nbsp;</span>
            <object class="reset-filter-object" type="image/svg+xml" data="./assets/img/clear-filter.svg"></object> -->
            <svg
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:cc="http://creativecommons.org/ns#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:svg="http://www.w3.org/2000/svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
           width="40"
           height="43"
           preserveAspectRatio="xMinYMin meet"
             viewBox="0 0 40 43">
            <style type="text/css">
                svg {
                    cursor: pointer;
                    width: 26px;
                    height: 26px;
                    position: relative;
                    top: 2px;
                }
                svg * {
                    transition: all .2s ease-out;
                    stroke-width: 1.5 !important;
                    stroke: #fff !important;
                }
                svg path {
                    stroke: #fff !important;
                }
                svg:hover path {
                    stroke: #fff !important;
                }
                .btn-sets-right-filter:hover path {
                    stroke: #fff !important;
                }
                .btn-sets-right-filter path{
                    stroke: #fff !important;
                }
            </style>
          <defs
             id="defs4" />
          <g
             inkscape:label="Layer 1"
             inkscape:groupmode="layer"
             id="layer1"
             >
            <path class="main-line"
               style="fill:none;stroke:#00abff;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
               d="m 2.8280048,10.4764 34.7684222,0"
               id="path2985"
               inkscape:connector-curvature="0" />
            <path class="main-line"
               inkscape:connector-curvature="0"
               id="path3755"
               d="m 9.8048228,20.3127 20.8147862,0"
               style="fill:none;stroke:#00abff;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
            <path class="main-line"
               style="fill:none;stroke:#00abff;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
               d="m 16.134497,30.149 8.155438,0"
               id="path3757"
               inkscape:connector-curvature="0" />
            <g
               id="layer2"
               style="stroke:#00abff;stroke-width:1.27082705;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none">
              <path class="main-line"
                 inkscape:connector-curvature="0"
                 id="path3761"
                 d="m 30.303572,35.3265 9.330357,-9.3304"
                 style="fill:none;stroke:#00abff;stroke-width:1.27082705;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
              <path class="main-line"
                 style="fill:none;stroke:#00abff;stroke-width:1.27082705;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                 d="m 39.633929,35.3265 -9.330357,-9.3304"
                 id="path3763"
                 inkscape:connector-curvature="0" />
            </g>
          </g>
        </svg>
        </button>