<div class="widgets">
   <div class="row">
   <div class="ui-helper-clearfix add-new-button__container">
              <div class="btn-group add-new-dropdown" style="float: right">
                <button (click)="addUsers()" type="button" class="btn btn-primary">
                    
                    <i class="icon ion-plus-round"></i>
                    
                    
                        New User
                </button>

            </div>
    </div>
    <ba-card title="" baCardClass="with-scroll">
       <spinner *ngIf="dataLoading"></spinner>
        <p-dataTable #dt [value]="users" [lazy]="true" (onLazyLoad)="refresh(filter_master, dt)" [rows]="10" [paginator]="true" [totalRecords]="totalRecords" sortField="dateUpdated" sortOrder="-1" styleClass="custom-filter-datatable custom-dropdown-datatable">
          <p-header>
            <div class="ui-helper-clearfix">
                <button type="button" iconPos="left" label="CSV" (click)="exportCSV()" style="float:left" class="btn-export__csv">
                    <i class="icon ion-ios-download-outline"></i>
                </button>
                <div class="btn-group" dropdown style="float: right">
                            
                            <reset-filter (click)="resetFilters()">
                            </reset-filter>

                            <button title="Refresh" id="resetFilters" type="button" class="btn-sets-right" (click)="refresh(filter_master, dt)">
                                <i class="icon ion-ios-reload"></i>
                            </button>
                        </div>
            </div>
        </p-header>
           <p-column styleClass="col-button">
                    <template pTemplate="header">
                        Action
                    </template>
                    <template let-users="rowData" pTemplate="body">
                            <div class="btn-group" dropdown>
                              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                                Action <span class="caret"></span>
                              </button>
                              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a  class="dropdown-item" (click)="viewUsers(users)">View</a></li>
                                <li role="menuitem"><a  class="dropdown-item" (click)="editUsers(users)">Edit</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="deleteUsers(users)">Delete</a></li>
                                <!-- <li role="menuitem"><a class="dropdown-item" (click)="roles(users)">Roles</a></li> -->
                              </ul>
                            </div>
                    </template>
            </p-column>
           <p-column field="userId" header="User ID"></p-column>
            <!-- <p-column field="username" [filter]="true" header="Username"></p-column> -->
            <p-column header="Username" [sortable]="true" field="username" [filter]="false">
                    <template pTemplate="header">
                       <span class="ui-column-title">Username</span> <span *ngIf="dt.sortOrder == 1 || dt.sortField != 'username'" class="sortable-custom-icon fa fa-sort"></span>
                       <span *ngIf="dt.sortOrder == -1 && dt.sortField == 'username'" class="sortable-custom-icon fa fa-sort-desc"></span>
                       <input class="ui-column-filter ui-inputtext ui-corner-all ui-widget" type="text" [formControl]="filter_username_fc" />
                   </template>
                    <template let-node="rowData" pTemplate="body">
                        {{node.username}}
                    </template>
            </p-column>
            <!-- <p-column field="fullname" header="Fullname"></p-column> -->
            <p-column header="Fullname" [sortable]="true" field="fullname" [filter]="false">
                    <template pTemplate="header">
                       <span class="ui-column-title">Fullname</span> <span *ngIf="dt.sortOrder == 1 || dt.sortField != 'fullname'" class="sortable-custom-icon fa fa-sort"></span>
                       <span *ngIf="dt.sortOrder == -1 && dt.sortField == 'fullname'" class="sortable-custom-icon fa fa-sort-desc"></span>
                       <input class="ui-column-filter ui-inputtext ui-corner-all ui-widget" type="text" [formControl]="filter_fullname_fc" />
                   </template>
                    <template let-node="rowData" pTemplate="body">
                        {{node.fullname}}
                    </template>
            </p-column>
            <!-- <p-column field="email" header="Email"></p-column> -->
            <p-column header="Email" [sortable]="true" field="email" [filter]="false" [style]="{'width':'200px'}">
                    <template pTemplate="header">
                       <span class="ui-column-title">Email</span> <span *ngIf="dt.sortOrder == 1 || dt.sortField != 'email'" class="sortable-custom-icon fa fa-sort"></span>
                       <span *ngIf="dt.sortOrder == -1 && dt.sortField == 'email'" class="sortable-custom-icon fa fa-sort-desc"></span>
                       <input class="ui-column-filter ui-inputtext ui-corner-all ui-widget" type="text" [formControl]="filter_email_fc" />
                   </template>
                    <template let-node="rowData" pTemplate="body">
                        {{node.email}}
                    </template>
            </p-column>
			<p-column header="Mobile Phone Number" [sortable]="true" field="mobilePhoneNumber" [filter]="false" [style]="{'width':'300px'}">
                    <template pTemplate="header">
                       <span class="ui-column-title">Mobile Phone Number</span> <span *ngIf="dt.sortOrder == 1 || dt.sortField != 'mobilePhoneNumber'" class="sortable-custom-icon fa fa-sort"></span>
                       <span *ngIf="dt.sortOrder == -1 && dt.sortField == 'mobilePhoneNumber'" class="sortable-custom-icon fa fa-sort-desc"></span>
                       <input class="ui-column-filter ui-inputtext ui-corner-all ui-widget" type="text" [formControl]="filter_mobile_fc" />
                   </template>
                    <template let-node="rowData" pTemplate="body">
                        {{node.mobilePhoneNumber}}
                    </template>
            </p-column>
        </p-dataTable>
    </ba-card>
    </div>
</div>
<div bsModal #addNewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        	<h4 class="modal-title">Add New User</h4>
        	<div *ngIf="error_from_server.length > 0" class="error-from-server">
              <i class="fa fa-exclamation-circle"></i>
              <ul style="margin-bottom: 0px;" class="lst-error">
                  <li *ngFor="let err of error_from_server">
                    {{err}}
                  </li>
                </ul>
          </div>
      </div>
      <div class="modal-body">
        <div>
            <ba-card title="" baCardClass="with-scroll custom-card">
             <spinner *ngIf="submitLoading"></spinner>
              <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                  <div class="modal-form-container">
                      <div class="form-group row" [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
                <div class="col-sm-12">
					<label>Username</label>
					<input [formControl]="username" type="text" class="form-control" id="inputEmail3" placeholder="Username">
                </div>
              </div>
              <div class="row error-row">
                   <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="form.get('username').hasError('required') && add_form_submitted">
                              Username is required
                        </div>
                    </div>
              </div>
			  <div class="form-group row" [ngClass]="{'has-error': (!fullname.valid && fullname.touched), 'has-success': (fullname.valid && fullname.touched)}">
                <div class="col-sm-12">
					<label>Full Name</label>
					<input [formControl]="fullname" type="text" class="form-control" id="inputEmail3" placeholder="Full Name">
                </div>
              </div>
              <div class="row error-row">
                   <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="form.get('fullname').hasError('required') && add_form_submitted">
                              Full Name is required
                        </div>
                    </div>
              </div>
              <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <div class="col-sm-12">
					<label>Email</label>
					<input [formControl]="email" type="email" class="form-control" id="inputPassword3" placeholder="Email">
                </div>
              </div>
              <div class="row error-row">
                   <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="form.get('email').hasError('required') && add_form_submitted">
                              Email is required
                        </div>
                    </div>
              </div>
			  <div class="form-group row">
                <div class="col-sm-12">
					<label>Mobile Phone</label>
					<input [formControl]="mobilePhoneNumber" type="text" class="form-control" id="inputPassword3" placeholder="Mobile Phone">
                </div>
              </div>
              <div class="row error-row">
                   <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="form.get('mobilePhoneNumber').hasError('required') && add_form_submitted">
                              Mobile Phone is required
                        </div>
                    </div>
              </div>
			  <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <div class="col-sm-12">
					<label>Password</label>
					<input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              <div class="row error-row">
                   <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="form.get('password').hasError('required') && add_form_submitted">
                              Password is required
                        </div>
                    </div>
              </div>
              <ba-card title="User's Role" baCardClass="with-scroll role-card">
                 <div class="row error-row">
                   <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="hasValueError(add_roles).required && add_form_submitted">
                              At least one Role must be picked
                        </div>
                    </div>
                  </div>
                  <div *ngFor="let role of loaded_roles">
                        <div class="form-group">
                          <div class="checkbox">
                            <label>
                             <p-checkbox binary="true" [(ngModel)]="role.is_selected" (ngModelChange)="onRoleChange(selected_user, role, add_roles)" [ngModelOptions]="{standalone: true}"></p-checkbox>
                              {{role.name}}
                            </label>
                          </div>
                        </div>
                    </div>  
                </ba-card>	  
                  
                </div>
            <div class="form-group modal-action-row row">
                  <div class="col-sm-3 btn-with-icon">
                    <button type="button" class="btn btn-default btn-cancel" (click)="cancel()">
                    <i class="icon ion-close"></i>
                    Cancel</button>
                  </div>
                  <div class="col-sm-5">
                       &nbsp;
                   </div>
                   <div class="col-sm-1 no-padding">
                       <span *ngIf="submitLoading" class="loading-container">
                            <loading-small></loading-small>
                        </span>
                   </div>
                  <div class="col-sm-3 btn-with-icon">
                    <button type="submit" class="btn btn-default btn-save">
                    <i class="icon ion-checkmark"></i>
                        Save
                    </button>
                  </div>
            </div>
            </form>
            
            </ba-card>
          </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <span *ngIf="!disabled">
            <h4 class="modal-title">Edit Users</h4>
        </span>
        
        <span *ngIf="disabled">
            <h4 class="modal-title">View Users</h4>
        </span>
      </div>
      <div class="modal-body">
        <div>
            <ba-card title="" baCardClass="with-scroll custom-card">
            <spinner *ngIf="submitLoading"></spinner>
             <form [formGroup]="edit_form" (ngSubmit)="onSubmitEdit(edit_form.value , $event)" class="form-horizontal">
             <div class="modal-form-container">
              <div class="form-group row" [ngClass]="{'has-error': (!edit_username.valid && edit_username.touched), 'has-success': (edit_username.valid && edit_username.touched)}">
                <div class="col-sm-12">
					<label>Username</label>
                  	<input [formControl]="edit_username" type="text" class="form-control" id="inputEmail3" placeholder="Username">
                </div>
              </div>
              <div class="row error-row">
                   <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="edit_form.get('edit_username').hasError('required') && edit_form_submitted">
                              Username is required
                        </div>
                    </div>
              </div>
				<div class="form-group row">
				  <div class="col-sm-12">
					 <label>Full Name</label>
					  <input [formControl]="edit_fullname" type="text" class="form-control" id="inputPassword3" placeholder="Full Name">
                </div>
              </div>
              <div class="row error-row">
                   <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="edit_form.get('edit_fullname').hasError('required') && edit_form_submitted">
                              Full Name is required
                        </div>
                    </div>
              </div>
              <div class="form-group row">
				  <div class="col-sm-12">
					 <label>Email</label>
					  <input [formControl]="edit_email" type="email" class="form-control" id="inputPassword3" placeholder="Email">
                </div>
              </div>
			  <div class="form-group row">
                <div class="col-sm-12">
					<label>Mobile Phone</label>
					<input [formControl]="edit_mobilePhoneNumber" type="text" class="form-control" id="inputPassword3" placeholder="Mobile Phone">
                </div>
              </div>
			  <div class="form-group row">
                <div class="col-sm-12">
					<label>Password</label>
                  	<input [formControl]="edit_password" type="text" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
<!--
			  <div class="form-group row">
                <div class="col-sm-12">
					  <label>Confirm password</label>
					<input [formControl]="edit_password" type="password" class="form-control" id="inputPassword3" placeholder="Hash password">
                </div>
              </div>
-->
            <ba-card title="User's Role" baCardClass="with-scroll role-card">
                  <div *ngFor="let role of loaded_roles">
                        <div class="form-group">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="role"
                               [(ngModel)]="role.is_selected" (ngModelChange)="onRoleChange(selected_user,role, edit_roles)" [ngModelOptions]="{standalone: true}">
                              {{role.name}}
                            </label>
                          </div>
                        </div>
                    </div>  
                </ba-card>  	  
              </div>
              <div class="form-group modal-action-row row">
                  <div class="col-sm-3 btn-with-icon">
                    <button type="button" class="btn btn-default btn-cancel" (click)="cancel()">
                    <i class="icon ion-close"></i>
                    Cancel</button>
                  </div>
                  <div class="col-sm-5">
                       &nbsp;
                   </div>
                   <div class="col-sm-1 no-padding">
                       <span *ngIf="submitLoading" class="loading-container">
                            <loading-small></loading-small>
                        </span>
                   </div>
                  <div class="col-sm-3 btn-with-icon">
                    <button *ngIf="!disabled" type="submit" class="btn btn-default btn-save">
                    <i class="icon ion-checkmark"></i>
                        Save
                    </button>
                  </div>
            </div>
            </form>
                
            </ba-card>
          </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #rolesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideRolesModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Users Roles</h4>
      </div>
      <div class="modal-body">
        <div>
            <ba-card title="Users Role" baCardClass="with-scroll">
              <div *ngFor="let role of loaded_roles">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="role"
                           [(ngModel)]="role.is_selected" (ngModelChange)="onRoleChange(selected_user,role)">
                          {{role.name}}
                        </label>
                      </div>
                    </div>
                </div>  
              <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                  <button (click)="hideRolesModal()" class="btn btn-default btn-auth">Close</button>
                </div>
              </div>
            </ba-card>
          </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
     
      </div>
      <div class="modal-body">
		  <div class="content_confirm">
				<h3>Delete {{delete_name}}?</h3>
		  </div>
		  <div class="delete-btn_confirm">
			  <button (click)="saveDelete()" class="btn-yes">
				  Yes
			  </button>
			  <button (click)="deleteClose()" class="btn-no">
				  No
			  </button>
          </div>
      </div>
    </div>
  </div>
</div>
