<div class="row">
  <div style="width: 100%; overflow-x: scroll">
    <p-dataTable [value]="getExpenses()">
      <p-header>
        <div class="ui-helper-clearfix" style="text-align: left;">
          <button type="button" class="btn btn-primary" (click)="addExpenses()" *ngIf="isCanEdit">Add Expense</button>
        </div>
      </p-header>
      <p-column header="Expense Type" [style]="{'width':'200px'}">
        <template let-expense="rowData" pTemplate="body">
          <ng-select class="form-control"
                     [items]="items_expenses_types"
                     [disabled]="!isCanEdit"
                     [active]="expense.active"
                     (selected)="setSelectedExpenseType(expense, $event)"
                     (removed)="removeSelectedExpenseType(expense, $event)"
                     (mousedown)="markAsTouched(expense, 'expenseTypeTouched')">
          </ng-select>
          <div class="error-message col-xg-10"
               *ngIf="hasErrorExpenseType(expense).required && expense.expenseTypeTouched">
            Expense Type is required
          </div>
        </template>
      </p-column>
      <p-column header="Amount">
        <template let-expense="rowData" pTemplate="body">
          <input #numberOnly type="text" class="form-control" [(ngModel)]="expense.amount" [disabled]="!isCanEdit" (blur)="markAsTouched(expense, 'amountTouched')" />
          <div class="error-message col-xg-10"
               *ngIf="hasErrorExpenseAmount(expense).required && expense.amountTouched">
            Amount is required
          </div>
          <div class="error-message col-xg-10"
               *ngIf="hasErrorExpenseAmount(expense).nonnumber && expense.amountTouched">
            Amount must be number only
          </div>
        </template>
      </p-column>
      <p-column header="Description">
        <template let-expense="rowData" pTemplate="body">
          <input type="text" class="form-control" [(ngModel)]="expense.description" [disabled]="!isCanEdit" (blur)="markAsTouched(expense, 'descTouched')" />
          <div class="error-message col-xg-10"
               *ngIf="hasErrorExpenseDescription(expense).required && expense.descTouched">
            Description is required
          </div>
        </template>
      </p-column>
      <p-column header="Reference Number">
        <template let-expense="rowData" pTemplate="body">
          <input type="text" class="form-control" [(ngModel)]="expense.referenceNumber" [disabled]="!isCanEdit" (blur)="markAsTouched(expense, 'refNumberTouched')" />
          <div class="error-message col-xg-10"
               *ngIf="hasErrorRefNumber(expense).required && expense.refNumberTouched">
            Reference Number is required
          </div>
        </template>
      </p-column>
      <p-column header="Reference Date">
        <template let-expense="rowData" pTemplate="body">
          <p-calendar [(ngModel)]="expense.referenceDate" [disabled]="!isCanEdit" [inputStyle]="{'width':'80%'}" [showIcon]="true" dateFormat="yy-mm-dd" [yearNavigator]="true" [yearRange]="_yearRange" (onBlur)="markAsTouched(expense, 'refDateTouched')"></p-calendar>
          <div class="error-message col-xg-10"
               *ngIf="hasErrorRefDate(expense).required && expense.refDateTouched">
            Reference Date is required
          </div>
        </template>
      </p-column>
      <p-column header="Action" [style]="{'width':'120px'}" *ngIf="isCanEdit">
        <template let-expense="rowData" pTemplate="body">
          <button type="button" (click)="removeExpense(expense)" class="btn btn-danger">Remove</button>
        </template>
      </p-column>
    </p-dataTable>
    <!--<br />
    <table style="width: 100% !important;">
      <thead>
        <tr>
          <th>Expense Type</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Reference Number</th>
          <th>Reference Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of getExpenses()">
          <td>
            <ng-select class="form-control"
                       [items]="items_expenses_types"
                       [disabled]="!isCanEdit"
                       [active]="expense.active"
                       (selected)="setSelectedExpenseType(expense, $event)"
                       (removed)="removeSelectedExpenseType(expense, $event)">
            </ng-select>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="expense.amount" [disabled]="!isCanEdit" /></td>
          <td><input type="text" [(ngModel)]="expense.description" class="form-control" id="inputEmail3" placeholder="Description" [disabled]="!isCanEdit" /></td>
          <td><input type="text" class="form-control" [(ngModel)]="expense.referenceNumber" [disabled]="!isCanEdit" /></td>
          <td><p-calendar class="form-control" [(ngModel)]="expense.referenceDate" [disabled]="!isCanEdit"></p-calendar></td>
          <td><button type="button" (click)="removeExpense(expense)">Remove</button></td>
        </tr>
      </tbody>
    </table>-->
  </div>
</div>