.node-content-wrapper {
    background: #00abff !important;
}

.modal {
  padding-top: 170px;

  .modal-content {
    background-color: #fff;
    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
      .btn-cancel {
          background: #d80b52;
          color: #fff;
          width: 100%;
      }
      .btn-cancel:hover {
          color: #202020;
      }
      .btn-save {
          background: #00abff;
          color: #fff;
          width: 100%;
      }
      .btn-save[disabled]{
          background: #00abff;
          width: 100%;
      }
      .btn-save[disabled]:hover {
          color: #202020;
      }
      .btn-save:hover {
          color: #202020;
      }
      .ui-select-toggle {
          border: solid 1px #6b6b6b;
      }
      .error-message {
          color: #d80b52;
      }
      .form-group {
          margin-bottom: 5px;
      }
      .error-row {
          margin-bottom: 10px;
      }
      .line-height-zero {
          line-height: 0;
      }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.widgets{
	.tree-location-temp{
		button{
			border-style: none;
			background: transparent;
			padding-left: 15px;
			i{
				font-size: 18px;
				color: #fff;
			}
		}
		
	}
}
.tree-node-active.tree-node-focused > .node-wrapper > .node-content-wrapper{
	background: red !important;
}
.tree-node-focused > .node-wrapper > .node-content-wrapper{
	background: red !important;
}
