<div class="widgets">
    <ba-card title="Weekends" baCardClass="with-scroll">
       <button (click)="checkAll()" class="btn btn-default">Check All</button>
       <button (click)="clearAll()" class="btn btn-default">Clear All</button>
        <form #f="ngForm" *ngIf="weekends" novalidate>
            
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="isMonday"
                   value="true"
                   [(ngModel)]="weekends.isMondayWeekend" (ngModelChange)="onChange()">
                  Monday
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="isTuesday"
                   value="weekends.isTuesdayWeekend"
                   [(ngModel)]="weekends.isTuesdayWeekend"
                  (ngModelChange)="onChange()">
                  Tuesday
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="isWednesday"
                   value="weekends.isWednesdayWeekend"
                   [(ngModel)]="weekends.isWednesdayWeekend"
                  (ngModelChange)="onChange()">
                  Wednesday
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="isThursday"
                   value="weekends.isThursdayWeekend"
                   [(ngModel)]="weekends.isThursdayWeekend"
                  (ngModelChange)="onChange()">
                  Thursday
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="isFriday"
                   value="weekends.isFridayWeekend"
                   [(ngModel)]="weekends.isFridayWeekend"
                  (ngModelChange)="onChange()">
                  Friday
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="isSaturday"
                   value="weekends.isSaturdayWeekend"
                   [(ngModel)]="weekends.isSaturdayWeekend"
                  (ngModelChange)="onChange()">
                  Saturday
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="isSunday"
                  value="weekends.isSundayWeekend"
                    [(ngModel)]="weekends.isSundayWeekend"
                  (ngModelChange)="onChange()">
                  Sunday
                </label>
              </div>
            </div>
          </form>
    </ba-card>
    <ba-card title="Holidays" baCardClass="with-scroll">
        <p-dataTable #dt [value]="holidays">
          <p-header>
            <div class="ui-helper-clearfix">
                <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left">
                    Export CSV
                </button>
                <button (click)="addHoliday()" class="btn btn-primary" style="float:right">Add New Holiday</button>
            </div>
        </p-header>
           <p-column field="holidayId" header="ID"></p-column>
            <p-column field="name" header="Name"></p-column>
            <p-column field="fromDate" header="From"></p-column>
            <p-column field="toDate" header="To"></p-column>
            <p-column field="flag_holiday" header="Holiday"></p-column>
            <p-column styleClass="col-button">
                    <template pTemplate="header">
                        Action
                    </template>
                    <template let-holiday="rowData" pTemplate="body">
                            <div class="btn-group" dropdown>
                              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                                Action <span class="caret"></span>
                              </button>
                              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a  class="dropdown-item" (click)="editHoliday(holiday)">Edit</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="deleteHoliday(holiday)">Delete</a></li>
                              </ul>
                            </div>
                    </template>
            </p-column>
        </p-dataTable>
    </ba-card>
</div>
<div bsModal #addNewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add New Holiday</h4>
      </div>
      <div class="modal-body">
        <div>
            <ba-card title="Add New Role" baCardClass="with-scroll">
              <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                  <input [formControl]="holiday_name_fc" type="text" class="form-control" id="inputEmail3" placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 control-label">From Date</label>

                    <div class="col-sm-10">
                      <ng2-datepicker [options]="from_options" [(ngModel)]="from_date_model" (outputEvents)="fromDate($event)" [ngModelOptions]="{standalone: true}"></ng2-datepicker>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 control-label">To Date</label>

                    <div class="col-sm-10">
                      <ng2-datepicker [options]="to_options" [(ngModel)]="to_date_model" (outputEvents)="toDate($event)" [ngModelOptions]="{standalone: true}"></ng2-datepicker>
                    </div>
                  </div>
              <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                  <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Submit</button>
                </div>
              </div>
            </form>
            </ba-card>
          </div>
      </div>
    </div>
  </div>
</div>