<div class="widgets">
   <div class="row">
   <!-- <div class="ui-helper-clearfix add-new-button__container">
              <div class="btn-group add-new-dropdown" style="float: right">
                <button (click)="addExpenseType()" type="button" class="btn btn-primary">
                    
                    <i class="icon ion-plus-round"></i>
                    
                        New Expense Type
                </button>
   
            </div>
    </div> -->
    <ba-card title="" baCardClass="with-scroll access-denied-card">
         <div class="center">
             <h1><i class="icon ion-android-lock"></i> Access Denied</h1>
             <p>We apologize for the inconvenience. You currently don't have the permission to access this Page / Information. Please contact administrators to gain permission or login to different account with higher permission.</p>
             <button class="btn btn-primary" (click)="showLoginPage()">
                 <i class="icon ion-android-unlock"></i> Login
             </button>
             <div class="go-back-container" (click)="showPreviousPage()">
                 <i class="icon ion-ios-arrow-back"></i> Back to previous Page
             </div>
         </div>
    </ba-card>
    </div>
</div>