<div class="widgets">
<!-- <div class="row">
    <div class="col-md-12">
      <ba-card title="Assets" baCardClass="with-scroll">
           <div class="add-new-button__container">
               <button (click)="addRootNode()" class="btn btn-primary" style="float:right">Add New Asset</button>
           </div>
            <Tree #assets_tree [nodes]="treeAssets" class="tree-location-temp">
                <template #treeNodeTemplate let-node="node" let-index="index">
                    <span>{{ node.data.name }}</span>
                    <button (click)="addChildNode(node.data)"><i class="ion-ios-plus-outline"></i></button>
                    <button (click)="editThisNode(node.data)"><i class="ion-edit"></i> </button>
                    <button (click)="deleteThisNode(node.data)"><i class="ion-trash-a"></i></button>
                </template>
            </Tree>
      </ba-card>
    </div>
  </div> -->
  
  <!-- Test with New Tree Component -->
  <div class="row">
    <div class="col-md-12">
     <div class="ui-helper-clearfix add-new-button__container">
              <div class="btn-group add-new-dropdown" style="float: right">
                <button (click)="addRootNode()" type="button" class="btn btn-primary">
                    
                    <i class="icon ion-plus-round"></i>
                    
                    
                        New Asset
                </button>

            </div>
               <!-- <button (click)="addRootNode()" class="btn btn-primary" style="float:right">Add New Asset</button> -->
           </div>
      <ba-card title="" baCardClass="with-scroll">
          <spinner *ngIf="dataLoading"></spinner>
           <p-treeTable class="ui-datatable" [value]="treeAssetsWithData">
               <p-header>
            <div class="ui-helper-clearfix">
                <button type="button" iconPos="left" label="CSV" (click)="exportCSV()" style="float:left" class="btn-export__csv">
                    <i class="icon ion-ios-download-outline"></i>
                </button>
                <div class="btn-group" dropdown style="float: right">
                            <reset-filter (click)="resetFilters()"></reset-filter>
                            <button title="Refresh" id="resetFilters" type="button" class="btn-sets-right" (click)="initialRefresh(filter_master)">
                                <i class="icon ion-ios-reload"></i>
                            </button>
                        </div>
            </div>
        </p-header>
                <!-- TODO: Add Location (Filter) & Date Updated Column --> 
                <p-column [sortable]="true" [style]="{'width':'230px'}" field="size">
                   <template pTemplate="header">
                       Asset Code
                       <input class="ui-column-filter" type="text" [formControl]="filterAssetCode" />
                   </template>
                    <template let-node="rowData" pTemplate="body">
                        {{node.data.assetNumber}}
                    </template>
                </p-column>
                <p-column field="name" [style]="{'width':'230px'}" [filter]="true">
                   <template pTemplate="header">
                       Asset Name
                       <input class="ui-column-filter" type="text" [formControl]="filterAssetName" />
                   </template>
                    <template let-node="rowData" pTemplate="body">
                        {{node.data.name}}
                    </template>
                </p-column>
                <p-column field="name" [style]="{'width':'230px'}" [filter]="true">
                   <template pTemplate="header">
                       Location
                       <input class="ui-column-filter" type="text" [formControl]="filterLocationName" />
                   </template>
                    <template let-node="rowData" pTemplate="body">
                        {{node.data.locationName}}
                    </template>
                </p-column>
                <p-column [style]="{'width':'200px'}" styleClass="top-aligned-table" field="name" [filter]="true">
                   <template pTemplate="header">
                       Date Updated
                   </template>
                    <template let-node="rowData" pTemplate="body">
                        {{node.data.dateUpdated | date: 'shortDate'}}
                    </template>
                </p-column>
                <p-column [style]="{'width':'180px'}" styleClass="col-button">
                   <template pTemplate="header">
                        Action
                    </template>
                    <template let-node="rowData" pTemplate="body">
                            <div class="btn-group" dropdown>
                              <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
                                Action <span class="caret"></span>
                              </button>
                              <ul dropdownMenu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a class="dropdown-item" (click)="viewAsset(node)">View</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="editAsset(node)">Edit</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="deleteAsset(node)">Delete</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="viewAssetHistory(node)">View History</a></li>
                              </ul>
                            </div>
                    </template>
               </p-column>
            </p-treeTable>
      </ba-card>
    </div>
  </div>
</div>
<div bsModal #viewHistoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div *ngIf="asset_pointer" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">View Asset History for {{asset_pointer.data.assetNumber}}: {{asset_pointer.data.name}}</h4>
		  <hr/>
      </div>
      <div class="modal-body">
        <div>
            <ba-card title="" baCardClass="with-scroll custom-card">
                  <div *ngIf="wo_by_asset" style="width: 100%; overflow-x: auto; overflow-y: auto;">
            <p-dataTable #dt [value]="wo_by_asset" [lazy]="false" (onLazyLoad)="refresh($event, dt)" [rows]="8" [paginator]="true" [totalRecords]="totalRecords" sortField="dateUpdated" sortOrder="-1">
                <p-header>
                    <div class="ui-helper-clearfix">
                    <button type="button" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left" class="btn-export__csv">
                        <i class="icon ion-ios-download-outline"></i>
                    </button>
                        <div class="btn-group" dropdown style="float: right">
                            <reset-filter (click)="resetFiltersTable(dt)"></reset-filter>
                            <button title="Refresh" id="resetFilters" type="button" class="btn-sets-right" (click)="refreshAssetHistory($event, dt)">
                                <i class="icon ion-ios-reload"></i>
                            </button>
                        </div>
                    </div>
                </p-header>
                <p-column [style]="{'width':'100px'}" field="woNumber" header="WO #" [sortable]="true" [filter]="true"></p-column>
                <p-column field="woCategoryName" [style]="{'width':'110px'}" header="Category" [sortable]="true" [filter]="true"></p-column>
                <p-column field="woPriorityName" header="Priority" [sortable]="true" [style]="{'width':'90px'}" [filter]="true"></p-column>
                <p-column field="taskName" [style]="{'width':'120px'}" header="Task" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                <p-column field="assetName" [style]="{'width':'110px'}" header="Asset" [sortable]="true" [filter]="true"></p-column>
                <p-column field="locationName" header="Location" [sortable]="true" [style]="{'width':'120px'}" [filter]="true" filterPlaceholder="Search"></p-column>
            </p-dataTable>
        </div>
            </ba-card>
          </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #viewAssetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div *ngIf="asset_pointer" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">View Asset: {{asset_pointer.data.name}}</h4>
		  <hr/>
      </div>
      <div class="modal-body">
        <div>
            <ba-card title="" baCardClass="with-scroll custom-card">
                <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Name</label> <br />
                            {{asset_pointer.data.name}}
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Asset Code</label> <br />
                            {{asset_pointer.data.assetNumber}}
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Location</label> <br />
                            {{asset_pointer.data.locationId}}
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Last Updated</label> <br />
                            {{asset_pointer.data.dateUpdated}}
                        </div>
                      </div>
            </ba-card>
          </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add New Asset</h4>
		  <!--<hr/>-->
      </div>
      <div class="modal-body">
        <div>
            <ba-card title="" baCardClass="with-scroll custom-card">
              <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
              <p-tabView>
                  <p-tabPanel #addGeneralTab header="General">
                      <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                        <div class="col-sm-12">
                            <label>Name</label>
                            <input [formControl]="name" type="text" class="form-control" id="inputEmail3" placeholder="Name">
                        </div>
                      </div>
                      <div class="row error-row">
                        <div class="error-message col-xg-10" *ngIf="form.get('name').hasError('required') && add_form_submitted">
                          Name is required
                        </div>
                      </div>
                      <div class="form-group row" [ngClass]="{'has-error': (!asset_number.valid && asset_number.touched), 'has-success': (asset_number.valid && asset_number.touched)}">
                       <div class="col-sm-12">
                            <label>Asset Code</label>
                            <input [formControl]="asset_number" type="text" class="form-control" id="inputPassword3" placeholder="">
                        </div>
                      </div>
                      <div class="row error-row">
                       <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="form.get('asset_number').hasError('required') && add_form_submitted">
                          Asset Code is required
                        </div>
                          </div>
                      </div>
                      <div class="form-group row" [ngClass]="{'has-error': (!description.valid && description.touched), 'has-success': (description.valid && description.touched)}">
                       <div class="col-sm-12">
                            <label>Description</label>
                            <input [formControl]="description" type="text" class="form-control" id="inputPassword3" placeholder="Description">
                        </div>
                      </div>
                      <div class="row error-row">
                       <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="form.get('description').hasError('required') && add_form_submitted">
                          Description is required
                        </div>
                        <div class="error-message col-xg-10" *ngIf="form.get('description').hasError('minlength') && add_form_submitted">
                          Description is required
                        </div>
                        </div>
                      </div>
                      
                      <div class="form-group row" [ngClass]="{'has-error': (!specification.valid && specification.touched), 'has-success': (specification.valid && specification.touched)}">
                        <div class="col-sm-12">
                            <label>Specification</label>
                            <textarea [formControl]="specification" class="form-control" id="inputPassword3" placeholder="Specification"></textarea>
                        </div>
                      </div>
                      <div class="form-group row select-container">
                         <div class="col-sm-12">
                             <label>WO Category</label>
                              <ng-select #addWOSelectBox
                                         [allowClear]="true"
                                          [items]="items_wocategory"
                                          [disabled]="disabled"
                                          (selected)="selectedWOCategory($event)"
                                          (removed)="removedWOCategory($event)"
                                          (typed)="typed($event)"
                                          placeholder="No WO Category selected">
                              </ng-select>
                          </div>
                      </div>
                      <div class="row error-row">
                       <div class="col-sm-12">
                        <div class="col-xg-2 line-height-zero">&nbsp;</div>
                        <div class="error-message col-xg-10"
                             *ngIf="form.get('wo_category_fc').hasError('required') && add_form_submitted">
                          WO Category is required
                        </div>
                        </div>
                      </div>
                      <div class="form-group row select-container">
                         <div class="col-sm-12">
                             <label>Location</label>
                              <ng-select #addLocationSelectBox
                                         [allowClear]="true"
                                          [items]="items_location"
                                          [disabled]="disabled"
                                            (selected)="selectedLocation($event)"
                                          (removed)="removedLocation($event)"
                                          (typed)="typed($event)"
                                          placeholder="No Location selected">
                              </ng-select>
                          </div>
                      </div>
                      <div class="row error-row">
                       <div class="col-sm-12">
                        <div class="col-xg-2 line-height-zero">&nbsp;</div>
                        <div class="error-message col-xg-10"
                             *ngIf="form.get('location_fc').hasError('required') && add_form_submitted">
                          Location is required
                        </div>
                        </div>
                      </div>
                      <div class="form-group row select-container">
                         <div class="col-sm-12">
                             <label>Parent Asset</label>
                              <ng-select #addSelectBox
                                         [allowClear]="true"
                                          [items]="items_asset"
                                          [disabled]="disabled"
                                          (selected)="selectedAsset($event)"
                                          placeholder="No Location selected">
                              </ng-select>
                          </div>
                      </div>

                  </p-tabPanel>
                  <p-tabPanel header="Files">
                      <div class="form-group row" [ngClass]="{'has-error': (!photo.valid && photo.touched), 'has-success': (photo.valid && photo.touched)}">
                        <div class="col-sm-12">
                            <label>Photo</label>
                            <input type="file" (change)="addPhotoSelected($event)" placeholder="Upload file" accept=".jpg,.jpeg,.png">
                          <!-- <input [formControl]="photo" type="text" class="form-control" id="inputPassword3" placeholder="Photo"> -->
                        </div>
                      </div>
                      <asset-files [actionType]="actionType" [selectedWO]="selectedWO" [selectedWoType]="selectedWoType" [(existingFiles)]="existingFiles" [(existingPhotos)]="existingPhotos" [isCanEdit]="true"></asset-files>
                  </p-tabPanel>
              </p-tabView>
              <div class="form-group modal-action-row row">
                  <div class="col-sm-3 btn-with-icon">
                    <button type="button" class="btn btn-default btn-cancel" (click)="cancel()">
                    <i class="icon ion-close"></i>
                    Cancel</button>
                  </div>
                  <div class="col-sm-5">
                       &nbsp;
                   </div>
                   <div class="col-sm-1 no-padding">
                       <span *ngIf="submitLoading" class="loading-container">
                            <loading-small></loading-small>
                        </span>
                   </div>
                  <div class="col-sm-3 btn-with-icon">
                    <button type="submit" class="btn btn-default btn-save">
                    <i class="icon ion-checkmark"></i>
                        Save
                    </button>
                  </div>
            </div>
            </form>
            </ba-card>
          </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #editChildModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideEditModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <span *ngIf="!disabled">
            <h4 class="modal-title">Edit Asset</h4>
        </span>
        
        <span *ngIf="disabled">
            <h4 class="modal-title">View Asset</h4>
        </span>
		  <!--<hr/>-->
      </div>
      <div class="modal-body">
        <div>
            <ba-card title="" baCardClass="with-scroll custom-card">
              <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit(editForm.value, $event)" class="form-horizontal">
                    <p-tabView>
                       <p-tabPanel #editGeneralTab header="General">
                            <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                           <div class="col-sm-12">
                                <label>Name</label>
                                <input [formControl]="edit_name" type="text" class="form-control" id="inputEmail3" placeholder="Name">
                            </div>
                          </div>
                          <div class="row error-row">
                       <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="editForm.get('edit_name').hasError('required') && edit_form_submitted">
                          Name is required
                        </div>
                          </div>
                      </div>
              <div class="form-group row" [ngClass]="{'has-error': (!description.valid && description.touched), 'has-success': (description.valid && description.touched)}">
               <div class="col-sm-12">
				   <label>Asset Code</label>
				   <input [formControl]="edit_asset_number" type="text" class="form-control" id="inputPassword3" placeholder="Asset Code">
                </div>
              </div>
              <div class="row error-row">
                    <div class="col-sm-12">
                        <div class="error-message col-xg-10" *ngIf="editForm.get('edit_asset_number').hasError('required') && edit_form_submitted">
                          Asset Code is required
                        </div>
                    </div>
                </div>
              <div class="form-group row" [ngClass]="{'has-error': (!description.valid && description.touched), 'has-success': (description.valid && description.touched)}">
               <div class="col-sm-12">
				   <label>Description</label>
				   <input [formControl]="edit_description" type="text" class="form-control" id="inputPassword3" placeholder="Description">
                </div>
              </div>
              <div class="row error-row">
                   <div class="col-sm-12">
                    <div class="error-message col-xg-10" *ngIf="editForm.get('edit_description').hasError('required') && edit_form_submitted">
                      Description is required
                    </div>
                    </div>
                </div>
              <div class="form-group row" [ngClass]="{'has-error': (!specification.valid && specification.touched), 'has-success': (specification.valid && specification.touched)}">
				  
				  <div class="col-sm-12">
					  <label>Specifications</label>
                    <textarea [formControl]="edit_specification" class="form-control" id="inputPassword3" [placeholder]="edit_specification.disabled ? '' : 'Specifications'"></textarea>
                </div>
              </div>
              <div class="form-group row select-container">
               
                 <div class="col-sm-12">
					  <label>WO Category</label>
                      <ng-select #editWOSelectBox
                                 [allowClear]="true"
                                  [items]="items_wocategory"
                                  [disabled]="disabled"
                                  (selected)="selectedWOEdit($event)"
                                  placeholder="No WO Category selected">
                      </ng-select>
                  </div>
              </div>
              <div class="form-group row select-container">
            
                 <div class="col-sm-12">
					  <label>Location</label>
                      <ng-select #editLocationSelectBox
                                 [allowClear]="true"
                                  [items]="items_location"
                                  [disabled]="disabled"
                                  (selected)="selectedLocationEdit($event)"
                                  placeholder="No Location selected">
                      </ng-select>
                  </div>
              </div>
              <div class="form-group row select-container">
          
                 <div class="col-sm-12">
					  <label>Parent Asset</label>
                      <ng-select #editSelectBox
                                 [allowClear]="true"
                                  [items]="items_asset"
                                  [disabled]="disabled"
                                  (selected)="selectedAssetEdit($event)"
                                  placeholder="No Asset selected">
                      </ng-select>
                  </div>
              </div>
                       </p-tabPanel>
                        <p-tabPanel header="Files">
                          <asset-files [actionType]="actionType" [selectedWO]="selectedWO" [selectedWoType]="selectedWoType" [(existingFiles)]="existingFiles" [(existingPhotos)]="editExistingPhotos" [isCanEdit]="!disabled"></asset-files>
                      </p-tabPanel>
                    </p-tabView>
            <div class="form-group modal-action-row row">
                  <div class="col-sm-3 btn-with-icon">
                    <button type="button" class="btn btn-default btn-cancel" (click)="cancel()">
                    <i class="icon ion-close"></i>
                    Cancel</button>
                  </div>
                  <div class="col-sm-5">
                       &nbsp;
                   </div>
                   <div class="col-sm-1 no-padding">
                       <span *ngIf="submitLoading" class="loading-container">
                            <loading-small></loading-small>
                        </span>
                   </div>
                  <div class="col-sm-3 btn-with-icon">
                    <button *ngIf="!disabled" type="submit" class="btn btn-default btn-save">
                    <i class="icon ion-checkmark"></i>
                        Save
                    </button>
                  </div>
            </div>
            </form>
            </ba-card>
          </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #deleteModal="bs-modal" class="modal delete-modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
     
      </div>
      <div class="modal-body">
		  <div class="content_confirm">
				<h3>Delete {{delete_name}}?</h3>
                <i class="icon ion-ios-minus-outline"></i>
		  </div>
		  <!-- <p>Please be aware deleted items might not be Recoverable</p> -->
		  <div class="delete-btn_confirm">
			  <button (click)="saveDelete()" class="btn-yes">
				  Yes
			  </button>
			  <button (click)="deleteClose()" class="btn-no">
				  No
			  </button>
          </div>
      </div>
    </div>
  </div>
</div>