<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><img src="assets/img/company2.png"><span>Lumatix</span></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
  <!--
    <div class="search">
      <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
      <input id="searchInput" type="text" placeholder="Search for...">
    </div>-->
  <ul class="top-main-menu nav">
    <li class="dropdown-full" *ngIf="newMenu.isCanShow()">
      <a (click)="toggleDropdownNew()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-plus-circle"></i> New <span class="fa fa-caret-down"></span></a>

    </li>
    <li class="dropdown-full" *ngIf="configurationPerm.isCanShow()">
      <a (click)="toggleDropdownConfig()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-gears"></i> Configuration <span class="fa fa-caret-down"></span></a>

    </li>

    <li class="dropdown"></li>
  </ul>
  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" (click)="toggleDropdownProfile()" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        {{ loggedUser }} <span class="fa fa-caret-down"></span>
      </a>
      <ul *ngIf="isDropdownProfile" class="dropdown-menu user-dropdown top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>

        <!--<li class="dropdown-item"><a routerLink="/pages/settings"><i class="fa fa-cog"></i>Settings</a></li>-->
        <!--<hr class="user-divider" />-->
        <li class="dropdown-item"><a (click)="changePassword()"><i class="fa fa-cog"></i>Change Password</a></li>
        <hr class="user-divider" />
        <li class="dropdown-item"><a (click)="logout()"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="isDropdownNewmenu" class="top-dropdown dropdown-configuration">
  <div class="row dropdown-row">
    <div class="col-md-3" *ngIf="newMenu.buildingManagement.length > 0">
      <ul class="dropdown-menu__">
        <h5>Building Management</h5>
        <li *ngFor="let item of newMenu.buildingManagement"><i class="fa fa-angle-right"></i><a [routerLink]="item.route">{{ item.name }}</a></li>
        <!--<li><i class="fa fa-angle-right"></i><a routerLink="/pages/transactions/workorders/single">Single Time Request</a></li>
        <li><i class="fa fa-angle-right"></i><a routerLink="/pages/transactions/workorders/recurring">Recurring Request</a></li>-->
      </ul>
    </div>
    <div class="col-md-3" *ngIf="newMenu.assets.length > 0">
      <ul class="dropdown-menu__">
        <h5>Assets</h5>
        <li *ngFor="let item of newMenu.assets"><i class="fa fa-angle-right"></i><a [routerLink]="item.route">{{ item.name }}</a></li>
        <!--<li><i class="fa fa-angle-right"></i><a routerLink="/pages/transactions/workorders/preventive">Preventive Maintenance</a></li>-->
      </ul>
    </div>
    <div class="col-md-3" *ngIf="newMenu.ownerTenants.length > 0">
      <ul class="dropdown-menu__">
        <h5>Owners &amp; Tenants    </h5>
        <li *ngFor="let item of newMenu.ownerTenants"><i class="fa fa-angle-right"></i><a [routerLink]="item.route">{{ item.name }}</a></li>
        <!--<li><i class="fa fa-angle-right"></i><a routerLink="/pages/transactions/workorders/owner">Owner Request</a></li>
        <li><i class="fa fa-angle-right"></i><a routerLink="/pages/transactions/workorders/tenant">Tenant Request</a></li>
        <li><i class="fa fa-angle-right"></i><a routerLink="/pages/transactions/workorders/guest">Guest Request</a></li>-->
      </ul>
    </div>
    <div class="col-md-3" *ngIf="newMenu.utilities.length > 0">
      <ul class="dropdown-menu__">
        <h5>Utilities</h5>
        <li *ngFor="let item of newMenu.utilities"><i class="fa fa-angle-right"></i><a [routerLink]="item.route">{{ item.name }}</a></li>
        <!--<li><i class="fa fa-angle-right"></i><a routerLink="/pages/utility-consumptions">Consumptions</a></li>-->
      </ul>
    </div>
  </div>


</div>
<div *ngIf="isDropdownConfiguration" class="top-dropdown dropdown-configuration">
  <div class="row dropdown-row">
    <div class="col-md-3" *ngIf="configurationPerm.configurations.isCanShow()">
      <ul class="dropdown-menu__">
        <h5>Configurations</h5>
        <li *ngIf="configurationPerm.configurations.Location"><i class="fa fa-angle-right"></i><a routerLink="/pages/setups/locations">{{ sitemap.Location != null ? sitemap.Location.name : '' }}</a></li>
        <li *ngIf="configurationPerm.configurations.WOCategory"><i class="fa fa-angle-right"></i><a routerLink="/pages/setups/work-orders">{{ sitemap.WOCategory != null ? sitemap.WOCategory.name : '' }}</a></li>
        <!-- By Mike: Hide weekends and holidays -->
        <!--<li><i class="fa fa-angle-right"></i><a routerLink="/pages/weekends">Weekends &amp; Holidays</a></li>-->
      </ul>
    </div>
    <div class="col-md-3" *ngIf="configurationPerm.allList.isCanShow()">
      <ul class="dropdown-menu__">
        <h5>List</h5>
        <li><i class="fa fa-angle-right"></i><a (click)="goToAllList()">All Lists</a></li>
      </ul>
    </div>
    <div class="col-md-3" *ngIf="configurationPerm.administration.isCanShow()">
      <ul class="dropdown-menu__">
        <h5>Administration</h5>
        <li *ngIf="configurationPerm.administration.User"><i class="fa fa-angle-right"></i><a (click)="goToUsers()">{{ sitemap.User != null ? sitemap.User.name : '' }}</a></li>
        <li *ngIf="configurationPerm.administration.Role"><i class="fa fa-angle-right"></i><a (click)="goToRoles()">{{ sitemap.Role != null ? sitemap.Role.name : ''}}</a></li>
        <li *ngIf="configurationPerm.administration.AccessRights"><i class="fa fa-angle-right"></i><a (click)="goToAccessRights()">{{ sitemap.AccessRights != null ? sitemap.AccessRights.name : '' }}</a></li>
        <li *ngIf="configurationPerm.administration.SystemSetting"><i class="fa fa-angle-right"></i><a routerLink="/pages/settings">{{ sitemap.SystemSetting != null ? sitemap.SystemSetting.name : ''}}</a></li>
        <!-- <li><i class="fa fa-angle-right"></i><a href="#">Redirect Tasks(Reassign)</a></li> -->
      </ul>
    </div>
    <div class="col-md-3">
      &nbsp;
    </div>
  </div>


</div>
<div bsModal #changeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideChangeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <div>
          <ba-card title="" baCardClass="with-scroll">
            <div class="alert alert-danger" *ngIf="errMsgChangePw.length > 0">
              <ul style="margin-bottom: 0px;" class="lst-error">
                <li *ngFor="let err of errMsgChangePw">
                  {{err}}
                </li>
              </ul>
            </div>
            <form class="form-horizontal" [formGroup]="formGroupChangePw" onsubmit="return false;">
              <div class="formfix" style="margin-left: 24px; margin-right: 24px;">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label for="inputEmail3" class="control-label">Old Password</label><br />
                    <input [formControl]="formGroupChangePw.controls['oldPassword']" type="password" class="form-control" id="inputPassword3" placeholder="Old Password">
                  </div>
                </div>
                <div class="row error-row">
                  <div class="col-sm-12">
                    <div class="col-xg-2 line-height-zero">&nbsp;</div>
                    <div class="error-message col-xg-10"
                         *ngIf="formGroupChangePw.get('oldPassword').hasError('required') && formGroupChangePw.get('oldPassword').touched">
                      Old Password is required
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label for="inputEmail3" class="control-label">New Password</label><br />
                    <input [formControl]="formGroupChangePw.controls['newPassword']" type="password" class="form-control" id="inputPassword3" placeholder="New Password">
                  </div>
                </div>
                <div class="row error-row">
                  <div class="col-sm-12">
                    <div class="col-xg-2 line-height-zero">&nbsp;</div>
                    <div class="error-message col-xg-10"
                         *ngIf="formGroupChangePw.get('newPassword').hasError('required') && formGroupChangePw.get('newPassword').touched">
                      New Password is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group modal-action-row row">
                <div class="col-sm-12">
                  <div class="offset-sm-9 col-sm-3 btn-with-icon">
                    <button type="button" class="btn btn-default btn-save" (click)="submitPassword()">
                      <i class="icon ion-checkmark"></i>
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </ba-card>
        </div>
      </div>
    </div>
  </div>
</div>
<p-growl [(value)]="messages" [life]="life"></p-growl>