<div class="widgets">
  <ba-card baCardClass="with-scroll">
    <spinner *ngIf="isLoadingData"></spinner> 

    <div class="ui-helper-clearfix">
      <div class="alert alert-danger" *ngIf="errMsg.length > 0">
        <ul style="margin-bottom: 0px;">
          <li *ngFor="let err of errMsg">
            {{err}}
          </li>
        </ul>
      </div>
    </div>

    <p-dataTable [value]="roleAuthorizations">
      <p-header>
        <div class="row">
          <div class="col-md-4" style="text-align: left">
            <div class="row">
              <p><strong>Role</strong></p>
              <ng-select #roleGroupSelectBox
                         [disabled]="true"
                         [items]="_itemsRoleGroup"
                         (removed)="removeSelectBoxValue('lsbRoleGroup', $event)"
                         (selected)="selectedSelectBoxValue('lsbRoleGroup', $event)"
                         placeholder="No Role Selected"></ng-select>
            </div>
            <br /><br />
          </div>
        </div>
      </p-header>
      <p-column field="menuId" header="Menu ID"></p-column>
      <p-column field="menuName" header="Menu Name"></p-column>
      <p-column field="allowAccessOrView" header="Allow Access">
        <template pTemplate="body" let-data="rowData">
          <div style="text-align: center">
            <p-checkbox binary="true" [(ngModel)]="data.allowAccessOrView" (click)="setHasChanges(true)" [disabled]="!data.accessCheckable"></p-checkbox>
          </div>
        </template>
      </p-column>
      <p-column field="allowAdd" header="Allow Add">
        <template pTemplate="body" let-data="rowData">
          <div style="text-align: center">
            <p-checkbox binary="true" [(ngModel)]="data.allowAdd" (click)="setHasChanges(true)" [disabled]="!data.addCheckable"></p-checkbox>
          </div>
        </template>
      </p-column>
      <p-column field="allowUpdate" header="Allow Update">
        <template pTemplate="body" let-data="rowData">
          <div style="text-align: center">
            <p-checkbox binary="true" [(ngModel)]="data.allowUpdate" (click)="setHasChanges(true)" [disabled]="!data.updateCheckable"></p-checkbox>
          </div>
        </template>
      </p-column>
      <p-column field="allowDelete" header="Allow Delete">
        <template pTemplate="body" let-data="rowData">
          <div style="text-align: center">
            <p-checkbox binary="true" [(ngModel)]="data.allowDelete" (click)="setHasChanges(true)" [disabled]="!data.deleteCheckable"></p-checkbox>
          </div>
        </template>
      </p-column>
      <p-footer>
        <div class="form-group" style="text-align: right;">
          <div class="btn-with-icon">
            <button type="submit" class="btn btn-primary btn-save" (click)="onSubmit()" [disabled]="roleGroupSelectBox.active.length == 0 || isSaving">
              <i class="icon ion-checkmark"></i>
              {{ btnSaveLabel }}
            </button>
          </div>
        </div>
      </p-footer>
    </p-dataTable>
  </ba-card>
</div>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" (onHide)="hideModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <div class="content_confirm">
          <h3>You have unsaved data, are you sure you want to switch Roles?</h3>
        </div>
        <div style="margin-top: 8px"></div>
        <div class="delete-btn_confirm">
          <button (click)="cancelChangeRole()" class="btn btn-no btn-danger" type="button">
            No
          </button>
          <button (click)="proceedChangeRole()" class="btn btn-yes" type="button" style="margin-left: 12px">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <div class="content_confirm">
          <h3>Data has been saved</h3>
        </div>
        <div style="margin-top: 8px"></div>
        <div class="delete-btn_confirm">
          <button (click)="infoModal.hide()" class="btn btn-yes" type="button" style="margin-left: 12px">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>