.al-content {
    padding-top: 16px !important; 
}
.card-title {
    text-transform: none !important;
}
.modal-header h4{
	font-size: 18px;
}

.modal-header hr{
	background: #00ABFF;
    width: 28px;
    height: 2px;
    margin: 0;
    margin-top: 6px;
    position: relative;
    top: 4px;
}
.modal-body{
	padding: 0;
}
.modal-body .card > .card-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
.modal-action-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    padding: 2em 10px;
    background: #f1f1f3;
    margin-top: 1em;
    border-top: solid 1px #d7d7d7;
}
.modal-body .ui-tabview {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.modal .modal-content {
    background: #fff !important; 
}
.custom-card{
	background: transparent !important;
	margin-bottom: 0;
}
.modal-body .role-card {
    border: 1px solid #cfdadd;
    margin-top: 18px;
}
input.form-control, textarea.form-control{
    background: transparent !important;
    border-radius: 2px !important;
    border: 1px solid #cfdadd;
}

button.btn-custom{
	color: #fff !important;
    border: 0;
    border-radius: 5px;
    margin-top: 24px;
    background: #00ABFF !IMPORTANT;
    opacity: 10 !important;
    padding: 11px 40px;
}
button.btn-custom:hover{
	opacity: 0.6;
    transform: none !important;
}
button.btn-custom:focus{
	-webkit-box-shadow: 0 0 20px 5px #00ABFF;
	box-shadow: 0 0 20px 5px #00ABFF;
}
.padding-form-horizontal{
	margin-top: 1em;
}

.modal-content{
	/*width: 550px;  commented by Mike: To make modal larger */
    margin: 0 auto;
}

.form-group.row label{
	color: #6b6b6b;
}

.custom-card .card-header{
	/* background: #00ABFF; */
	padding: 11px 16px !important;
	height: 40px;
    margin-top: 10px;
}
.btn-submit-center{
	text-align: center;
}
.modal {
    padding-top: 50px !important;
}
.all-list__card a{
	color: #fff !important;
}
body .ui-widget-header{
	background: transparent !important;
    border: none !important;
	/* margin-bottom: 1em; */
}
body .ui-datatable thead th.ui-state-active {
    background-color: #52b1e0;
    border-color: #52b1e0;
}
.btn-export__csv{
    background: #6d29ca;
    font-size: 24px !important;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: solid 1px #a9bbc4; */
    border: none;
    transition: all 0.3s;
}
.btn-export__csv:hover {
    background: #7836d1;
    color: #f1f1f1;
}
.btn-sets-right {
    background: #72bd4c;
    font-size: 24px !important;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    position: relative;
    bottom: 4px;
    margin-left: 3px;
}
.btn-sets-right:hover {
    background: #86d160;
    color: #efefef;
}
.btn-sets-right i {
    position: relative;
    left: 2px;
}
.btn-sets-right-filter {
    background: #3fac82;
    font-size: 24px !important;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
}
.btn-sets-right-filter:hover {
    background: #41bc8d;
}
.content_confirm h3{
	text-align: center;
	margin-bottom: 1em;
	font-weight: 400;
}
.delete-btn_confirm{
	text-align: center;
	margin-bottom: 2em;
}
button.btn-yes{
	background: #ffc400;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
	color: #fff;
}

button.btn-no{
	background: #4f595d;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
	color: #fff;
	margin-left: 0.2em;
}

.top-main-menu {
    color: #fff;
}
.add-btn-group {
    float: right;
}
button.btn-no:hover{
	-webkit-box-shadow: 0 0 20px 5px #4f595d;
	box-shadow: 0 0 20px 5px #4f595d;
}
button.btn-yes:hover{
	-webkit-box-shadow: 0 0 20px 5px #ffc400;
	box-shadow: 0 0 20px 5px #ffc400;
}
/* .mat-tab-label {
    min-width: 110px !important;
}
 */
.search-global input{
	padding: 5px;
	width: 253px;
	border: none;
}
.search-global i{
	font-size: 15px;
	color: #d7d7d7;
	padding: 5px;
}
.search-global{
	background: #fff;
    display: inline-block;
    padding: 3px;
    border-bottom: 1px solid #d7d7d7;
	float: left;
}	
.ui-helper-clearfix {
    margin-bottom: 0.75em;
}
ba-card .ui-helper-clearfix {
    margin-bottom: 0;
}
.ui-paginator .ui-paginator-page {
    margin-left: 0 !important;
    margin-right: 0 !important;
    /* border: solid 1px #d7d7d7; */
}
body .ui-paginator .ui-state-active {
    background: #00ABFF;
}

th.top-aligned-table {
    vertical-align: top;
}
.ui-datatable .ui-sortable-column-icon {
    display: block !important;
    float: right;
}
@media only screen and (max-width: 589px) {
	.modal.in .modal-dialog{
		max-width: 360px;
		margin: 0 auto;
	}
	.modal-content{
		width: 100%;
	}
}
@media only screen and (max-width: 777px) {
	.top-main-menu.nav{
		display: none;
	}
}
@media only screen and (max-width: 1024px) {
	.ui-datatable-tablewrapper table{
		min-width: 1024px;
	}
	.ui-datatable-tablewrapper{
		overflow-x: auto;
	}
}

.ui-treetable tbody td {
    overflow: visible !important;
}
.ui-treetable .ui-treetable-row {
    border-top: solid 1px #dee5e7;
}
.ui-treetable .ui-treetable-child-table-container tbody:last-child .ui-treetable-row {
    /* border-top: 0 none; */
}
.ui-treetable tbody > .ui-treetable-row td {
    /* border-left: solid 1px #c7c7c7; */
}
.ui-treetable tbody > .ui-treetable-row td:first-child {
    border-left: none;
}
.ui-treetable-child-table-container .ui-treetable-row td {
    border: 0 none;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li{
	/* border-bottom: 2px solid #00abff !important; */
    background-color: #efefef;
    /* border: none; */
    border-color: #a9abb4 !important;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a{
	color: #00abff !important;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li:hover{
	background: #d7d7d7 !important;	
}
body .ui-tabview .ui-tabview-selected {
    background: #fff !important;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li{
	line-height: 48px;
    height: 44px;
    padding: 0 35px;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 120px;
    text-align: center;
    position: relative;
}
.ui-tabview .ui-tabview-nav li a {
    float: none !important;
}

.auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fff !important;
    color: #00abff !important;
    padding: 32px;
}
.auth-block .btn {
    background: #00abff !important;
}
.no-padding {
    padding: 0;
}
.ui-treetable-tablewrapper{
    overflow-x: auto;
}
.ui-datatable-tablewrapper {
    overflow-x: auto;
}

.add-new-dropdown .dropdown-toggle {
    padding: 8px 12px;
    border: none;
    border-radius: 0;    
}
.add-new-dropdown i {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    margin: -7px -12px;
    margin-right: 12px;
    
}
.add-new-dropdown .btn:hover {
    background: #32bafd !important;
}
.btn-with-icon button {
    padding: 8px 12px !important;
    border: none !important;
    border-radius: 0 !important;
}
.btn-with-icon i {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    margin: -7px -12px;
    margin-right: 12px;
}
td .dropdown-toggle {
    background: #fff !important;
    border: solid 1px #dee5e7 !important;
    box-shadow: 1px 1px 1px 1px rgba(90,90,90, 0.1) !important;
    color: #202020;
}
td .dropdown-toggle:hover, td .dropdown-toggle:focus {
    color: #202020 !important;
    background: #dee5e7 !important;
}
td .dropdown li{
    padding-top: 4px;
    padding-bottom: 4px;
}

.modal-form-container {
    padding-left: 22px;
    padding-right: 22px;
}
.btn-cancel:hover {
    transform: initial !important;
    background: #ed266b !important;
    color: #fff !important;
}
.btn-save:hover {
    transform: initial !important;
    background: #29b2f5 !important;
    color: #fff !important;
}
.modal .ui-select-toggle{
    border-radius: 2px !important;
    border: solid 1px #cfdadd !important;
}
.add-new-button__container .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 0;  
}

.ui-sortable-column {
  vertical-align: top;
}

.tabpanel-has-error .ui-tabview-title{
  color: red;
}

.tabpanel-has-error .ui-tabview-title:after{
  content: " !";
}

.modal.delete-modal {
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.delete-modal .content_confirm {
    text-align: center;
    padding-bottom: 1.6em;
}
.delete-modal .icon {
    font-size: 5em;
    color: #ffc400;
    
}

.custom-filter-datatable .ui-sortable-column-icon {
    display: none !important;
}

.custom-filter-datatable .sortable-custom-icon {
    float: right;
}

.custom-filter-datatable th.ui-state-active .sortable-custom-icon.fa-sort:before {
    content: "\f0de";
}

.ui-paginator .fa-step-backward:before {
    content: "\f100" !important;
}

.ui-paginator .fa-step-forward:before {
    content: "\f101" !important;
}

.ui-paginator .fa-backward:before {
    content: "\f104" !important;
}

.ui-paginator .fa-forward:before {
    content: "\f105" !important;
}

.ui-paginator .fa {
    font-size: 1.2em !important;
    position: relative;
    bottom: 1px;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    color: #2d3439 !important;    
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page:hover.ui-state-active {
    background: none !important;    
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: none !important;
    color: #00ABFF !important;
}

body .ui-paginator .ui-state-active {
    background: none !important;
    font-weight: 500 !important;
    color: #00ABFF !important;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page .ui-state-active {
    color: #00ABFF !important;
}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
    color: #2d3439 !important;
}

.table-header-dropdown li a{
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Try Material Modal */
.cdk-overlay-container {
    position: fixed;
    z-index: 1000;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    overflow-y: auto;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .48;
}
.cdk-overlay-dark-backdrop {
    background: rgba(0,0,0,.6);
}
.cdk-overlay-backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
    opacity: 0;
}
.cdk-overlay-backdrop, .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    z-index: 1000;
}

.cdk-global-overlay-wrapper {
    position: absolute;
    z-index: 1000;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.cdk-global-overlay-wrapper {
    pointer-events: auto !important;
}
.cdk-global-overlay-wrapper {
    display: block !important;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    overflow-y: auto;
}

.cdk-overlay-pane {
    box-sizing: border-box;
}
.cdk-overlay-pane {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 24px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    max-width: 80vw;
    width: 100%;
    height: 100%;
}
.mat-dialog-container {
    background: #fff;
}
.mat-dialog-container {
    padding: 0 !important;
}
.mat-dialog-container {
    margin: 0 auto;
}

.mat-dialog-container .delete-modal .modal-content {
    border: none !important;
}
/* Added by Mike */
.ui-fileupload-buttonbar button:not(.ui-fileupload-choose) {
  display: none !important;
}

.ui-datepicker{
  background-color: white !important;
}

.ui-datepicker-year{
  width: auto !important;
}

.link{
  color: royalblue;
  cursor: pointer;
}

.link:hover{
  color: mediumblue;
}

input[disabled], textarea[disabled] {
  border: 1px solid gray;
  color: gray !important;
}

.ui-fileupload-choose[disabled]{
  display: none !important;
}

.btn-print {
  transform: initial !important;
  background: #27c24c !important;
  color: #fff !important;
  width: 100% !important;
}

.ui-select-container .btn {
  border: 1px solid #d4d4d4;
  border-radius: 2px;
}

.ui-select-container .btn:hover {
  transform: scale(1.0) !important;
}

.tabpanel-has-error .ui-tabview-title {
  color: red;
}

.tabpanel-has-error .ui-tabview-title:after {
  content: " !";
}

input[disabled].form-control, textarea[disabled].form-control {
  border: 1px solid #cfdadd
}
/* End Added by Mike */
