.modal-header h4{
	font-size: 14px;
}

.modal-header hr{
	background: #fff;
    width: 28px;
    height: 2px;
    margin: 0;
    margin-top: 4px;	
}
.modal-body{
	padding: 0;
}
.modal .modal-content {
    background: #fff !important; 
}
.custom-card{
	background: transparent !important;
	margin-bottom: 0;
}
input.form-control, textarea.form-control{
    background: transparent !important;
    border-radius: 0;
    border: 1px solid #6b6b6b;
}

button.btn-custom{
	color: #fff !important;
    border: 0;
    border-radius: 5px;
    margin-top: 24px;
    background: #00ABFF !IMPORTANT;
    opacity: 10 !important;
    padding: 11px 40px;
}
button.btn-custom:hover{
	opacity: 0.6;
    transform: none !important;
}
button.btn-custom:focus{
	-webkit-box-shadow: 0 0 20px 5px #00ABFF;
	box-shadow: 0 0 20px 5px #00ABFF;
}
.padding-form-horizontal{
	margin-top: 1em;
}

.modal-content{
	/*width: 550px;  commented by Mike: To make modal larger */
    margin: 0 auto;
}

.form-group.row label{
	color: #6b6b6b;
}

.custom-card .card-header{
	background: #00ABFF;
	padding: 11px 16px !important;
	height: 40px;
    margin-top: 10px;
}
.btn-submit-center{
	text-align: center;
}
.modal {
    padding-top: 50px !important;
}
.all-list__card a{
	color: #fff !important;
}
body .ui-widget-header{
	background: transparent !important;
    border: none !important;
	/* margin-bottom: 1em; */
}
body .ui-datatable thead th.ui-state-active {
    background-color: #52b1e0;
    border-color: #52b1e0;
}
.btn-export__csv{
    background: transparent;
    font-size: 24px !important;
    color: #01ABFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #a9bbc4;
    transition: all 0.3s;
}
.btn-export__csv:hover {
    background: #01ABFF;
    color: #fff;
}
.btn-sets-right {
    background: transparent;
    font-size: 24px !important;
    border: solid 1px #a9bbc4;
    color: #01ABFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    position: relative;
    bottom: 4px;
    margin-left: 3px;
}
.btn-sets-right:hover {
    background: #01ABFF;
    color: #fff;
}
.btn-sets-right-filter {
    background: transparent;
    font-size: 24px !important;
    border: solid 1px #a9bbc4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
}
.btn-sets-right-filter:hover {
    background: #01ABFF;
}
.content_confirm h3{
	text-align: center;
	margin-bottom: 2em;
	font-weight: 400;
}
.delete-btn_confirm{
	text-align: center;
	margin-bottom: 2em;
}
button.btn-yes{
	background: #00ABFF;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
	color: #fff;
}

button.btn-no{
	background: #00ABFF;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
	color: #fff;
	margin-left: 2em;
}

.top-main-menu {
    color: #fff;
}
.add-btn-group {
    float: right;
}
button.btn-no:hover,button.btn-yes:hover{
	-webkit-box-shadow: 0 0 20px 5px #00ABFF;
	box-shadow: 0 0 20px 5px #00ABFF;
}
/* .mat-tab-label {
    min-width: 110px !important;
}
 */
.search-global input{
	padding: 5px;
	width: 253px;
	border: none;
}
.search-global i{
	font-size: 15px;
	color: #d7d7d7;
	padding: 5px;
}
.search-global{
	background: #fff;
    display: inline-block;
    padding: 3px;
    border-bottom: 1px solid #d7d7d7;
	float: left;
}	
.ui-helper-clearfix {
    margin-bottom: 0.75em;
}
ba-card .ui-helper-clearfix {
    margin-bottom: 0;
}
.ui-paginator .ui-paginator-page {
    margin-left: 0 !important;
    margin-right: 0 !important;
    /* border: solid 1px #d7d7d7; */
}
body .ui-paginator .ui-state-active {
    background: #00ABFF;
}

th.top-aligned-table {
    vertical-align: top;
}
.ui-datatable .ui-sortable-column-icon {
    display: block !important;
    float: right;
}
@media only screen and (max-width: 589px) {
	.modal.in .modal-dialog{
		max-width: 360px;
		margin: 0 auto;
	}
	.modal-content{
		width: 100%;
	}
}
@media only screen and (max-width: 777px) {
	.top-main-menu.nav{
		display: none;
	}
}
@media only screen and (max-width: 1024px) {
	.ui-datatable-tablewrapper table{
		min-width: 1024px;
	}
	.ui-datatable-tablewrapper{
		overflow-x: auto;
	}
}

.ui-treetable tbody td {
    overflow: visible !important;
}

.ui-treetable tbody > .ui-treetable-row td {
    border-left: solid 1px #c7c7c7;
}
.ui-treetable tbody > .ui-treetable-row td:first-child {
    border-left: none;
}
.ui-treetable-child-table-container .ui-treetable-row td {
    border: 0 none;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active{
	border-bottom: 2px solid #00abff !important;
    background-color: #fff !important;
    border: none;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a{
	color: #00abff !important;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li:hover{
	background: #d7d7d7 !important;	
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li{
	line-height: 48px;
    height: 48px;
    padding: 0 35px;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    position: relative;
}
.ui-tabview .ui-tabview-nav li a {
    float: none !important;
}

/* Added by Mike */
.ui-fileupload-buttonbar button:not(.ui-fileupload-choose) {
  display: none !important;
}

.ui-datepicker{
  background-color: white !important;
}

.ui-datepicker-year{
  width: auto !important;
}

.link{
  color: royalblue;
  cursor: pointer;
}

.link:hover{
  color: mediumblue;
}

input[disabled], textarea[disabled] {
  border: 1px solid gray;
  color: gray !important;
}

.ui-fileupload-choose[disabled]{
  display: none !important;
}
/* End Added by Mike */
