<div class="widgets">
  <div class="ui-helper-clearfix">
    <div class="btn-group" dropdown style="float: right">
      <button (click)="addUtilityConsumption()" class="btn btn-primary" style="float:right">Add Consumption</button>
    </div>
  </div>
  <ba-card baCardClass="with-scroll">
    <p-dataTable #dt [value]="lstUtilityConsumptions" [lazy]="true" (onLazyLoad)="refresh($event, dt)" [sortField]="DEFAULT_SORT_FIELD" [rows]="DEFAULT_ITEM_PER_PAGE" sortOrder="-1" [paginator]="true" [totalRecords]="totalRecords">
      <p-header>
        <div class="ui-helper-clearfix">
          <button type="button" iconPos="left" label="CSV" (click)="downloadCSV(dt)" style="float:left" class="btn-export__csv">
            <i class="icon ion-ios-download-outline"></i>
          </button>
          <div class="btn-group" dropdown style="float: right">
            <button title="Reset" id="resetFilters" type="button" class="btn-sets-right-filter" (click)="resetFilters(dt)">
              <!-- <img class="reset-filter" src="./assets/img/clear-filter.svg" /> -->
              <!-- <span>&nbsp;</span>
        <object class="reset-filter-object" type="image/svg+xml" data="./assets/img/clear-filter.svg"></object> -->
              <svg (click)="resetFilters(dt)"
                   xmlns:dc="http://purl.org/dc/elements/1.1/"
                   xmlns:cc="http://creativecommons.org/ns#"
                   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                   xmlns:svg="http://www.w3.org/2000/svg"
                   xmlns="http://www.w3.org/2000/svg"
                   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                   width="40"
                   height="43"
                   preserveAspectRatio="xMinYMin meet"
                   viewBox="0 0 40 43">
                <style type="text/css">
                  svg {
                    cursor: pointer;
                    width: 26px;
                    height: 26px;
                    position: relative;
                    top: 2px;
                  }

                    svg * {
                      transition: all .2s ease-out;
                      stroke-width: 1.5 !important;
                    }

                    svg:hover path {
                      stroke: #fff !important;
                    }

                  .btn-sets-right-filter:hover path {
                    stroke: #fff !important;
                  }
                </style>
                <defs id="defs4" />
                <g inkscape:label="Layer 1"
                   inkscape:groupmode="layer"
                   id="layer1"
                   transform="translate(0,-1009.3622)">
                  <path class="main-line"
                        style="fill:none;stroke:#00abff;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                        d="m 2.8280048,1019.4764 34.7684222,0"
                        id="path2985"
                        inkscape:connector-curvature="0" />
                  <path class="main-line"
                        inkscape:connector-curvature="0"
                        id="path3755"
                        d="m 9.8048228,1029.3127 20.8147862,0"
                        style="fill:none;stroke:#00abff;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
                  <path class="main-line"
                        style="fill:none;stroke:#00abff;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                        d="m 16.134497,1039.149 8.155438,0"
                        id="path3757"
                        inkscape:connector-curvature="0" />
                  <g id="layer2"
                     transform="matrix(0.7901613,0,0,0.78363052,0.57269904,225.98743)"
                     style="stroke:#00abff;stroke-width:1.27082705;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none">
                    <path class="main-line"
                          inkscape:connector-curvature="0"
                          id="path3761"
                          d="m 33.303572,1044.3265 9.330357,-9.3304"
                          style="fill:none;stroke:#00abff;stroke-width:1.27082705;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
                    <path class="main-line"
                          style="fill:none;stroke:#00abff;stroke-width:1.27082705;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
                          d="m 42.633929,1044.3265 -9.330357,-9.3304"
                          id="path3763"
                          inkscape:connector-curvature="0" />
                  </g>
                </g>
              </svg>
            </button>

            <button title="Refresh" id="resetFilters" type="button" class="btn-sets-right" (click)="refresh($event, dt)">
              <i class="icon ion-ios-reload"></i>
            </button>
          </div>
        </div>
      </p-header>
      <p-column [style]="{'width':'120px'}" styleClass="col-button">
        <template pTemplate="header">
          Action
        </template>
        <template let-utilities="rowData" pTemplate="body">
          <div class="btn-group" dropdown>
            <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
              Action <span class="caret"></span>
            </button>
            <ul dropdownMenu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a class="dropdown-item" (click)="viewUtilityConsumption(utilities)">View</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="editUtilityConsumption(utilities)">Edit</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="deleteUtilityConsumption(utilities)">Delete</a></li>
            </ul>
          </div>
        </template>
      </p-column>
      <p-column field="utilityConsumptionId" header="ID" filter="true" sortable="true"></p-column>
      <p-column field="utilityTypeName" header="Type" filter="true" sortable="true"></p-column>
      <p-column field="date" header="Date" sortable="true"></p-column>
      <p-column field="total" header="Total" filter="true" sortable="true"></p-column>
      <p-column field="totalExclusion" header="Total Exclusion" sortable="true"></p-column>
      <p-column field="nettTotal" header="Nett Total"></p-column>
      <p-column field="utilityUomName" header="UOM" filter="true" sortable="true"></p-column>
    </p-dataTable>
  </ba-card>
</div>

<div bsModal #formModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideChildModal(formModal)">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>

      <div class="modal-body">
        <div>
          <ba-card title="" baCardClass="with-scroll">
            <template #dynamicModalBody>
            </template>
          </ba-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <div class="content_confirm">
          <h3>Delete this data?</h3>
        </div>
        <div class="ui-helper-clearfix"style="padding: 12px;">
          <p-dataTable [value]="utilityConsumptionToDelete">
            <p-column field="utilityConsumptionId" header="ID"></p-column>
            <p-column field="utilityTypeName" header="Type"></p-column>
            <p-column field="date" header="Date"></p-column>
            <p-column field="total" header="Total"></p-column>
            <p-column field="totalExclusion" header="Total Exclusion"></p-column>
            <p-column field="nettTotal" header="Nett Total"></p-column>
            <p-column field="utilityUomName" header="UOM"></p-column>
          </p-dataTable>
        </div>
        <div style="margin-top: 8px"></div>
        <div class="delete-btn_confirm">
          <button (click)="cancelDelete()" class="btn btn-no btn-danger" type="button">
            No
          </button>
          <button (click)="saveDelete()" class="btn btn-yes" type="button" style="margin-left: 12px">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>